output/coverage/augmented_trajectories/
station_positioning/.ipynb_checkpoints/
distributed_model/core/.ipynb_checkpoints/
centralized_model/.ipynb_checkpoints/
distributed_model/core/model/.ipynb_checkpoints/
distributed_model/core/node/.ipynb_checkpoints/
output/coverage/bike_graph.graphml
output/coverage/drive_graph.graphml
output/coverage/tmp_fake_traj.csv
output/coverage/walk_graph.graphml
output/distributed_model/coverage.csv
output/distributed_model/log_coverage.csv
output/distributed_model/log_engine.csv
output/distributed_model/log_merge.csv
distributed_model/core/node/__pycache__/__init__.cpython-37.pyc
distributed_model/core/node/__pycache__/node.cpython-37.pyc
distributed_model/core/node/__pycache__/utils.cpython-37.pyc
distributed_model/core/model/__pycache__/__init__.cpython-37.pyc
distributed_model/core/model/__pycache__/coverage.cpython-37.pyc
distributed_model/notebooks/.ipynb_checkpoints/
output/distributed_model/cov_series/
centralized_model/examples/.ipynb_checkpoints/Coverage_model-checkpoint.ipynb
output/distributed_model/2009-01-01_2009-01-31/coverage.csv
output/distributed_model/2009-01-01_2009-01-31/log_coverage.csv
output/distributed_model/2009-01-01_2009-01-31/log_engine.csv
output/distributed_model/2009-01-01_2009-01-31/log_merge.csv
output/distributed_model/2009-01-01_2009-01-31/.ipynb_checkpoints/coverage-checkpoint.csv
output/distributed_model/2009-01-01_2009-01-31/cov_series/1_coverages.csv
output/distributed_model/2009-01-01_2009-01-31/cov_series/2_coverages.csv
output/distributed_model/2009-01-01_2009-01-31/cov_series/3_coverages.csv
output/distributed_model/2009-01-01_2009-01-31/cov_series/.ipynb_checkpoints/1_coverages-checkpoint.csv
output/distributed_model/2009-01-01_2009-01-31/images/centralized_final_3D_grid.png
output/distributed_model/2009-01-01_2009-01-31/images/centralized_final_heatmap.png
output/distributed_model/2009-05-01_2009-05-31/coverage.csv
output/distributed_model/2009-05-01_2009-05-31/log_coverage.csv
output/distributed_model/2009-05-01_2009-05-31/log_engine.csv
output/distributed_model/2009-05-01_2009-05-31/log_merge.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/0_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/122_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/128_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/140_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/144_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/153_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/155_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/163_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/17_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/180_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/22_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/24_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/25_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/3_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/30_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/39_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/4_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/40_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/41_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/42_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/66_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/68_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/82_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/84_coverages.csv
output/distributed_model/2009-05-01_2009-05-31/cov_series/85_coverages.csv
distributed_model/notebooks/images/*
